@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
   height: fit-content;
}

/* NAVIGATION BAR -START- */
.navbar {
  width: 100%;
  height: 60px;
  background-size: cover;
  background-image: url(photos/silk.jpg);
  
  top: 0;
  z-index: 10;
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
  .logo_holder {
     width: 25%;
     left: 30px;
     position: absolute;

     display: flex;
     align-items: center;
     justify-content: space-between;
  }
     .nav_logo {
        width: 100%;
        opacity: 0.8;
        transition: all 0.2s;

        display: flex;
        align-items: center;
        justify-content: center;
     }
        .nav_logo img {
           width: 90%;
        }
        .nav_logo:hover {
           opacity: 2;
           border-radius: 15px;
           transition: all 0.2s;
           background-color: transparent;
        }
  .link_holder {
     width: 45%;
     height: inherit;

     top: 0;
     right: 20px;
     position: absolute;

     display: flex;
     align-items: center;
     justify-content: space-evenly;
  }
     .nav_links {
        width: auto;
        height: 70%;

        display: flex;
        align-items: center;
        justify-content: center;
     }
        .nav_links a {
           width: 100%;
           height: 100%;
           padding: 0 10px;
           font-size: 15px;
           font-weight: 300;
           text-align: center;
           transition: all 0.2s;
           text-decoration: none;
           color: rgb(37, 37, 37);
           font-family: 'Montserrat', sans-serif;

           display: flex;
           align-items: center;
           justify-content: center;
        }
        .icon {
           display: none;
        }
        .nav_links a:hover {
           font-weight: 400;
           color: goldenrod;
           transition: all 0.2s;
           border-bottom: 2px solid teal;
        }

  /* NAVBAR RESPONSIVE DESIGN */
  @media only screen and (max-width: 600px) {
     .navbar {
        width: 100%;
        height: 55px;
        background-color: white;
        
        top: 0;
        left: 0;
        z-index: 10;
        position: fixed;
     
        display: flex;
        align-items: center;
        justify-content: space-between;
     }
        .logo_holder {
           width: 70%;
           height: 100%;
           left: 5px;
           position: absolute;
     
           display: flex;
           align-items: center;
           justify-content: center;
        }
           .nav_logo {
              width: 90%;
              height: 100%;
              opacity: 1;
           }
           .nav_logo img {
              width: 100%;
           }
        .icon {
           width: 15%;
           height: 80%;
           right: 15px;
           font-weight: 900;
           font-size: x-large;
           text-align: center;
           position: absolute;
           text-decoration: none;

           display: flex;
           justify-content: start;
           align-items: center;
        }
           .icon i {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
           }
  }

  @media screen and (max-width: 600px) {
     .navbar .link_holder:not(:first-child) {
        display: none;
        height: 0;
        transition: all 1s;
     }
     .navbar a.icon {
     float: right;
     display: block;
     }
  }
  
  @media screen and (max-width: 600px) {
     .navbar.responsive .link_holder {
        right: 0;
        top: 55px;
        width: 100%;
        height: 200px;
        display: flex;
        transition: all 1s;
        flex-direction: column;
        background-color: white;
        border-top: 1px solid gold;
     }
     .navbar.responsive .nav_links {
        height: 200px;
        width: 80%;
        display: flex;
     }
  }

/* NAVIGATION BAR -END- */





/* INTRO SECTION */
section {
  width: 100%;
  height: 600px;
  margin-top: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-size: cover;
  background-position-x: 200px;
  background-position-y: -270px;
  /* background-repeat: no-repeat; */
  background-image: url(photos/mid_clock.jpg);
}
.section-container {
  width: 100%;
  height: inherit;

  gap: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.image-container {
  width: inherit;
  height: max-content;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.logo_title {
  width: 700px;
  padding: 15px;
  margin-top: 70px;
  margin-left: 70px;
  border-radius: 8px;

  border-left: 2px solid gold;
  border-top: 2px solid goldenrod;
}
.logo_title img {
  width: inherit;
}

.title_container {
  width: inherit;
  height: 250px;

  display: flex;
  justify-content: center;
}
.text_title {
  margin-top: 30px;

  gap: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.text_title h1 {
  font-size: 60px;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.text_title h3 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.text_title a {
  height: 50px;
  width: 150px;
  margin-top: 30px;
  color: black;
  border-radius: 8px;
  border: 1px solid teal;
  outline-offset: 3px;
  outline: 1px solid goldenrod;
  background-color: goldenrod;
  transition: 0.125s;

  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}
.text_title a:hover {
  background-color: rgb(209, 157, 26);
  /* border-bottom: 1px solid white; */
  /* color: rgb(255, 213, 4); */
  transition: 0.125s;
}

/* CARD ARTICLE SECTION */
article {
  width: 100%;
  height: 800px;
  /* margin-top: 50px; */
  display: flex;
  justify-content: center;
}
.article-container {
  width: 100%;
  height: inherit;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(photos/background.jpg);
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.article-subcontainer {
  width: 100%;
  margin-top: 50px;

  gap: 30px;
  display: flex;
  flex-direction: column;
}
.article-title {
  height: 70px;
  width: 100%;
  color: white;
  transition: all 1s;
  background-color: rgb(99, 99, 99, 0.7);

  display: flex;
  align-items: center;
  justify-content: center;
}
.article-title h1 {
  height: 70px;
  font-size: 40px;
  font-weight: 500;
  transition: all 1s;
  font-family: Georgia, "Times New Roman", Times, serif;

  display: flex;
  align-items: center;
}

.article-subtitle {
  height: 130px;
  width: 100%;
  position: relative;
  transition: height 1s;
  background-color: rgb(99, 99, 99, 0.7);

  display: flex;
  text-align: center;
  justify-content: center;
  order: 2;
}
.article-subtitle p {
  width: 50%;
  color: white;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: all 1s;
  font-family: "Montserrat", sans-serif;

  display: flex;
  text-align: center;
  justify-content: center;
}

.article-cards {
  width: 100%;
  height: 450px;
  margin-top: 300px;
  z-index: 2;

  gap: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.article-card1,
.article-card2,
.article-card3 {
  width: 300px;
  height: inherit;
  border-radius: 15px;

  position: relative;
  transition: width 1s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  display: flex;
  justify-content: center;
}
#card-con1,
#card-con2,
#card-con3 {
  width: 100%;

  display: flex;
  flex-direction: column;
}
.con1-title,
.con2-title,
.con3-title {
  width: 100%;
  font-size: 24px;
  padding: 5px 0;
  margin-bottom: 10px;

  background-color: rgb(99, 99, 99, 0.7);
  border-radius: 15px 15px 0 0;
  transition: all 1s;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
.con1-title {
  color: gold;
}
.con2-title {
  color: white;
}
.con3-title {
  color: rgb(0, 246, 246);
}

.con1-logo {
  width: 320px;
  height: 185px;
  margin-left: -10px;
  color: rgb(96, 225, 126);
  text-align: center;
  border: 1px solid rgb(255, 213, 4);
  outline: 1px solid rgb(48, 93, 98);
  outline-offset: 2px;

  transition: width 1s;
  background-image: url(../photos/card1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.con2-logo {
  width: 320px;
  height: 185px;
  margin-left: -10px;
  color: rgb(96, 225, 126);
  text-align: center;
  border: 1px solid rgb(48, 93, 98);
  outline: 1px solid rgb(255, 213, 4);
  outline-offset: 2px;

  transition: width 1s;
  background-image: url(../photos/card2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}
.con3-logo {
  width: 320px;
  height: 185px;
  margin-left: -10px;
  color: rgb(96, 225, 126);
  text-align: center;
  border: 1px solid rgb(255, 213, 4);
  outline: 1px solid rgb(48, 93, 98);
  outline-offset: 2px;

  transition: width 1s;
  background-image: url(../photos/card3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.con1-subtitle,
.con2-subtitle,
.con3-subtitle {
  width: inherit;
  height: 180px;
  margin-top: 15px;
  text-align: center;
  color: white;
  border-radius: 0 0 15px 15px;
  background-color: rgb(99, 99, 99, 0.7);

  display: flex;
  justify-content: center;
  align-items: center;
}
.card1-sub,
.card2-sub,
.card3-sub {
  padding: 10px;
}

/* FOOTER BAR -START- */
footer {
   clear: both;
   width: 100%;
   height: 200px;
   outline-offset: 3px;
   outline: 1px solid goldenrod;
   border-top: 2px solid rgb(48, 93, 98);
   
   background-size: cover;
   background-position-y: -100px;
   background-image: url(photos/silk.jpg);
}
   .footer_container {
      width: 100%;
      height: 200px;
 
      gap: 0;
      display: flex;
      align-items: center;
   }
      .logo_container {
         width: 30%;
         height: 80%;
 
      }
         .logo_container a {
            width: 100%;
            margin-top: 15px;
            transition: 0.5s;
 
            display: flex;
            justify-content: center;
         }
            .logo_container a:hover {
               opacity: 0.7;
               transition: 0.5s;
            }
         .logo_container img {
            width: 90%;
         }
         .logo_container p {
            width: 100%;
            font-size: 12px;
            text-indent: 10px;
            color: rgb(48, 93, 98);
            font-family: "Montserrat", sans-serif;
         }
      .about_links {
         width: 15%;
         height: 75%;
         
         gap: 5px;
         display: flex;
         flex-direction: column;
         justify-content: center;
      }
         .about_title {
            margin: 0;
            padding: 5px 0;
            font-size: 18px;
            font-weight: 800;
            text-indent: 10px;
            color: rgb(201, 169, 43);
            font-family: Georgia, 'Times New Roman', Times, serif;
      
            display: flex;
            align-items: center;
         }
         .about_links_container{
            width: 100%;
            height: fit-content;
            
            gap: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
         }
            .company_links {
               font-size: 15px;
               text-indent: 10px;
               text-decoration: none;
               color: rgb(48, 93, 98);
               font-family: "Montserrat", sans-serif;
            }
            .company_links:hover {
               text-decoration: underline;
            }
      .socials {
         width: 20%;
         height: inherit;
         
         display: flex;
         align-items: center;
         justify-content: start;
      }
         .socials-container {
            width: 100%;
            padding: 10px 0 10px 0;
 
            display: flex;
            align-items: center;
            justify-content: space-evenly;
         }
            .socials-container a, button {
               padding: 5px;
               border: none;
               font-size: 25px;
               cursor: pointer;
               color: rgb(201, 169, 43);
               text-decoration: none;
               transition: 0.25s;
            }
            .email_button button {
               font-size: 25px;
               color: goldenrod;
               background-color: transparent;
            }
            #socialButton1:hover {
               color: blue;
               transition: 0.25s;
             }
             #socialButton2:hover {
               color: fuchsia;
               transition: 0.25s;
             }
             #socialButton3:hover {
               color: orange;
               transition: 0.25s;
             }
      .contact_info {
         width: 20%;
         height: 75%;
 
         display: flex;
         flex-direction: column;
         justify-content: space-around;
      }
         .contact_info h4 {
            margin: 0;
            font-size: 13px;
            font-weight: 800;
            color: rgb(201, 169, 43);
            font-family: Georgia, 'Times New Roman', Times, serif;
         }
            .contact_info h4 a {
               color: rgb(201, 169, 43);
               text-decoration: none;
            }
         .contact_info p{
            margin: 0;
            font-size: 12px;
            font-weight: 400;
            color: rgb(48, 93, 98);
            font-family: "Montserrat", sans-serif;
         }
            .contact_info p:hover {
               text-decoration: underline;
            }
 /* FOOTER BAR -END- */