* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	padding-bottom: 15px;
	background-size: cover;
	background-image: url("../photos/background.jpg");
}

.nav {
	background-color: #ffffff;
	height: 60px;
	width: 100%;
	border: 0;

	display: flex;
	align-items: center;
	justify-content: center;

}
	.nav_container {
		width: 100%;
		height: 100%;
		outline-offset: 3px;
		border-bottom: 2px solid teal;
		outline: 3px solid goldenrod;

		display: flex;
		justify-content: space-between;
	}
		#logo {
			height: 60px;
			margin-left: 30px;
			float: left;
			display: flex;
			transition: all 0.5s;
			text-align: center;
			text-decoration: none;
			justify-content: center;
		}
			#logo:hover {
				transition: all 0.5;
				background-color: rgb(228, 228, 228);
			}
			#logo-img {
				height: 90%;
				width: 90%;
			}

		.redirect {
			width: 300px;
			margin-right: 30px;

			display: flex;
			align-items: center;
			justify-content: space-evenly;
		}
			.redirect a {
				padding: 0 20px;
				color: teal;
				transition: all 0.5;
				text-decoration: none;
				font-family: "Montserrat", sans-serif;
			}	.redirect a:hover {
					color: goldenrod;
					transition: all 0.5;
				}
				.redirect a i {
					padding: 2px 8px 0 0;
				}



	.content {
		width: 1000px;
		margin: 0 auto;
	}
		.content h2 {
			margin: 0;
			padding: 25px 0;
			font-size: 22px;
			border-bottom: 1px solid gold;
			color: teal;
			font-family: Georgia, 'Times New Roman', Times, serif;
		}

		.content p{
			box-shadow: 0 0 5px 0 teal;
			margin: 25px 0;
			padding: 25px;
			font-size: 15px;
			background-color: #fff;
		}
	
		.applicants {
			width: 100%;
			align-items: center;
			height: fit-content;

			display: flex;
			flex-direction: column;
		}
			.applicants h2 {
				width: 80%;
				margin-bottom: 15px;
				padding: 10px 25px;
				font-size: 22px;
				border-bottom: 2px solid gold;
				color: teal;
				font-family: Georgia, 'Times New Roman', Times, serif;
			}

			table {
				width: 90%;
				row-gap: 5px;
				color: white;
				padding: 10px 10px;
				border-spacing: 3px 3px;
				background-color: rgb(0, 79, 79);
			}
				th {
					padding: 2px 5px;
					background-color: rgb(0, 117, 117);
					border-bottom: 1px solid gold;
				}
					
					td {
						font-size: 13px;
						padding: 2px 5px;
						text-align: center;
						transition: all 0.3;
						background-color: rgb(0, 96, 96);
						font-family: "Montserrat", sans-serif;
					}
						td a {
							text-decoration: none;
							color: white;
						}
						
						.header tr:hover  th{
							color: gold;
							transition: all 0.3;
							border-bottom: 1px solid white;
							background-color: rgb(0, 62, 62);
						}
						tr:hover {
							color: gold;
							transition: all 0.3;
							border-bottom: 1px solid white;
							background-color: rgb(0, 62, 62);
						}
						td:hover {
							color: gold;
							cursor: pointer;
							transition: all 0.3;
							border-bottom: 1px solid white;
							background-color: rgb(0, 62, 62);
						}