body {
	margin: 0;
	padding: 0;
	width: 100%;
   height: fit-content;
}

/* NAVIGATION BAR [ START ] */

   /* NAVBAR DESKTOP DESIGN [ START ] */
   .navbar {
      width: 100%;
      height: 60px;
      background-size: cover;
      background-image: url(../photos/silk.jpg);

      display: flex;
      align-items: center;
      justify-content: space-between;

      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      position: fixed;
   }
      .logo_holder {
         width: 25%;
         left: 30px;
         position: absolute;
         display: flex;
         align-items: center;
         justify-content: space-between;
      }
         .nav_logo {
            width: 100%;
            opacity: 0.8;
            transition: all 0.2s;
            display: flex;
            align-items: center;
            justify-content: center;
         }
         .nav_logo:hover {
            opacity: 2;
            border-radius: 15px;
            transition: all 0.2s;
            background-color: transparent;
         }
            .nav_logo img {
               width: 90%;
            }
      .link_holder {
         width: 45%;
         height: inherit;
         top: 0;
         right: 20px;
         position: absolute;
         display: flex;
         align-items: center;
         justify-content: space-evenly;
      }
         .nav_links {
            width: auto;
            height: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
         }
            .nav_links a {
               width: 100%;
               height: 100%;
               padding: 0 10px;
               font-size: 15px;
               font-weight: 300;
               text-align: center;
               transition: all 0.2s;
               text-decoration: none;
               color: rgb(37, 37, 37);
               font-family: "Montserrat", sans-serif;
               display: flex;
               align-items: center;
               justify-content: center;
            }
               .nav_links a:hover {
                  font-weight: 400;
                  color: goldenrod;
                  transition: all 0.2s;
                  border-bottom: 2px solid teal;
               }
               .icon {
                  display: none;
               }
   /* NAVBAR DESKTOP DESIGN [ END ] */
               
   /* NAVBAR RESPONSIVE DESIGN [ START ]*/
   @media only screen and (max-width: 600px) {
      .navbar {
         width: 100%;
         height: 60px;
         background-color: white;
         top: 0;
         left: 0;
         z-index: 10;
         position: fixed;
         display: flex;
         align-items: center;
         justify-content: space-between;
      }
         .logo_holder {
            width: 70%;
            height: 100%;
            left: 5px;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
         }
            .nav_logo {
               width: 90%;
               height: 100%;
               opacity: 1;
            }
      .nav_logo img {
         width: 100%;
      }
      .icon {
         width: 15%;
         height: 80%;
         right: 15px;
         font-weight: 900;
         font-size: x-large;
         text-align: center;
         position: absolute;
         text-decoration: none;
         display: flex;
         justify-content: start;
         align-items: center;
      }
      .icon i {
         width: 100%;
         height: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
      }
   }
   @media screen and (max-width: 600px) {
      .navbar .link_holder:not(:first-child) {
         display: none;
         height: 0;
         transition: all 1s;
      }
      .navbar a.icon {
         float: right;
         display: block;
      }
   }
   @media screen and (max-width: 600px) {
      .navbar.responsive .link_holder {
         right: 0;
         top: 55px;
         width: 100%;
         height: 200px;
         display: flex;
         transition: all 1s;
         flex-direction: column;
         background-color: white;
         border-top: 1px solid gold;
      }
      .navbar.responsive .nav_links {
         height: 200px;
         width: 80%;
         display: flex;
      }
   }
   /* NAVBAR RESPONSIVE DESIGN [ END ]*/

/* NAVIGATION BAR [END] */

/* ! -------------------------------- */

/* MAIN SECTION DESIGN [ START ] */
   /* MAIN SECTION DESKTOP DESIGN [ START ] */
   main {
      width: 100%;
      margin-top: 60px;

      display: flex;
      align-items: center;
      justify-content: center;
   }
      .main_container {
         width: 100%;
         padding: 20px 9%;
         height: fit-content;
         box-sizing: border-box;

         gap: 20px;
         display: flex;
         align-items: flex-start;
         flex-direction: column;
         justify-content: center;
      }
         .main_titlebar {
            width: 100%;
            height: 176px;;
            box-sizing: border-box;

            display: flex;
            align-items: center;
            justify-content: space-between;
         }
            .left_titlebar {
               width: 30%;
               height: 100%;
               box-sizing: border-box;

               display: flex;
               align-items: flex-start;
               flex-direction: column;
               justify-content: end;
            }
               .left_titlebar h1 {
                  margin: 0;
                  width: 100%;
                  font-size: 30px;
                  font-weight: 400;
                  line-height: 1.2;
                  box-sizing: border-box;
                  font-family: "Montserrat", sans-serif;
                  
                  display: flex;
                  align-items: center;
                  justify-content: start;
               }
               .left_titlebar p {
                  margin: 0;
                  width: 100%;
                  font-size: 15px;
                  box-sizing: border-box;

                  display: flex;
                  align-items: center;
                  justify-content: start;
               }
            .right_titlebar {
               width: 30%;
               height: 176px;
               box-sizing: border-box;
            }
               .weather_container {
                  border-radius: 15px;
               }
         .main_content {
            width: 100%;
            height: 600px;
            box-sizing: border-box;

            gap: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
         }
            .left_content {
               width: 70%;
               height: 100%;
               padding: 10%;
               font-size: 20px;
               border-radius: 15px;
               box-sizing: border-box;
               border: 2px solid #455a64ff;

               display: flex;
               align-items: flex-start;
               justify-content: center;
            }

            .right_content {
               width: 30%;
               height: 100%;
               padding: 15px;
               border-radius: 15px;
               box-sizing: border-box;
               background-color: #455a64ff;
            }x
   /* MAIN SECTION DESKTOP DESIGN [ START ] */
/* MAIN SECTION DESIGN [ END ] */

/* ! -------------------------------- */

/* FOOTER BAR SECTION [ START ] */

   /* FOOTER BAR DESKTOP DESIGN [ START ] */
   footer {
      clear: both;
      width: 100%;
      height: 220px;
      outline-offset: 3px;
      outline: 1px solid goldenrod;
      border-top: 2px solid rgb(48, 93, 98);
      background-size: cover;
      background-position-y: -100px;
      background-image: url(../photos/silk.jpg);

   }
      .footer_container {
         width: 100%;
         height: 220px;
         box-sizing: border-box;
         gap: 20px;
         display: flex;
         align-items: center;
      }
         .logo_container {
            width: 30%;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-evenly;
         }
            .logo_container > a {
               width: 100%;
               margin-top: 15px;
               transition: 0.5s;
               box-sizing: border-box;
               display: flex;
               justify-content: center;
            }
               .logo_container a:hover {
                  opacity: 0.7;
                  transition: 0.5s;
               }
               .logo_container img {
                  width: 90%;
               }
            .logo_container p {
               width: 100%;
               font-size: 12px;
               padding: 0 15px;
               font-style: italic;
               text-align: justify;
               box-sizing: border-box;
               color: rgb(48, 93, 98);
               font-family: Georgia, 'Times New Roman', Times, serif;
            }
         .contact_info {
            width: 20%;
            height: 80%;
            padding: 0 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
         }
            .contact_info h4 {
               margin: 0;
               font-size: 13px;
               font-weight: 800;
               color: rgb(201, 169, 43);
               font-family: Georgia, "Times New Roman", Times, serif;
            }
               .contact_info h4 a {
                  color: rgb(201, 169, 43);
                  text-decoration: none;
               }
            .contact_info p {
               margin: 0;
               font-size: 12px;
               font-weight: 400;
               color: rgb(48, 93, 98);
               font-family: "Montserrat", sans-serif;
            }
               .contact_info p:hover {
                  text-decoration: underline;
               }
         .about_links {
            width: 15%;
            height: 75%;
            gap: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
         }
            .about_title {
               margin: 0;
               padding: 5px 0;
               font-size: 18px;
               font-weight: 800;
               text-indent: 10px;
               color: rgb(201, 169, 43);
               font-family: Georgia, "Times New Roman", Times, serif;
               display: flex;
               align-items: center;
            }
            .about_links_container {
               width: 100%;
               height: fit-content;
               gap: 5px;
               display: flex;
               flex-direction: column;
               justify-content: space-evenly;
            }
               .company_links {
                  font-size: 15px;
                  text-indent: 10px;
                  text-decoration: none;
                  color: rgb(48, 93, 98);
                  font-family: "Montserrat", sans-serif;
               }
                  .company_links:hover {
                     text-decoration: underline;
                  }
         .socials {
            width: 20%;
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: start;
         }
            .socials-container {
               width: 100%;
               padding: 10px 0 10px 0;
               display: flex;
               align-items: center;
               justify-content: space-evenly;
            }
            .socials-container a, button {
               padding: 5px;
               border: none;
               font-size: 25px;
               cursor: pointer;
               color: rgb(201, 169, 43);
               text-decoration: none;
               transition: 0.25s;
            }
               .email_button button {
                  font-size: 25px;
                  color: goldenrod;
                  background-color: transparent;
               }
                  #socialButton1:hover {
                     color: blue;
                     transition: 0.25s;
                  }
                  #socialButton2:hover {
                     color: fuchsia;
                     transition: 0.25s;
                  }
                  #socialButton3:hover {
                     color: orange;
                     transition: 0.25s;
                  }
   /* FOOTER BAR DESKTOP DESIGN [ START ] */

   /* RESPONSIVE FOOTER BAR DESIGN [ START ] */
      @media only screen and (max-width: 600px) {
         footer {
            clear: both;
            width: 100%;
            height: fit-content;
            outline-offset: 3px;
            outline: 1px solid goldenrod;
            border-top: 2px solid rgb(48, 93, 98);
            background-size: cover;
            background-position-y: 0;
            background-image: url(photos/silk.jpg);
         }
         .footer_container {
            width: 100%;
            height: fit-content;
            box-sizing: border-box;
            gap: 10px;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
         }
         .logo_container {
            width: 100%;
            height: 100%;
            text-align: center;
            box-sizing: border-box;
            gap: 10px;
         }
         .logo_container p {
            width: 100%;
            font-size: 12px;
            font-style: italic;
            text-align: center;
            box-sizing: border-box;
            color: rgb(48, 93, 98);
            font-family: Georgia, 'Times New Roman', Times, serif;
         }
         .contact_info {
            width: 100%;
            height: fit-content;
            text-align: center;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
         }
         .about_links {
            width: fit-content;
            height: fit-content;
            gap: 0;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            text-align: center;
         }
         .about_title {
            margin: 0;
            padding: 5px 0;
            font-size: 18px;
            font-weight: 800;
            text-indent: 0;
            color: rgb(201, 169, 43);
            font-family: Georgia, "Times New Roman", Times, serif;
            display: flex;
            align-items: center;
         }
         .company_links {
            font-size: 15px;
            text-indent: 0;
            text-decoration: none;
            color: rgb(48, 93, 98);
            font-family: "Montserrat", sans-serif;
         }
         .socials {
            width: 100%;
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
         }
      }
   /* RESPONSIVE FOOTER BAR DESIGN [ END ] */

/* FOOTER BAR SECTION [ END ] */