body {
   margin: 0;
   padding: 0;
}
/* SECTION DESIGN START */
.second_content {
   display: flex;
   align-items: center;
   flex-flow: column nowrap;
   justify-content: space-evenly;
   border: 1px solid;
}
.left {
   width: 60%;
   padding: 30px;
}
.right {
   width: 40%;
   background-image: url(../photos/documents.jpg);
   background-size: cover;
}
.content1 h1,
p,
.content2 h1,
p,
.content3 h1,
p,
.content4 h1,
p,
.content5 h1,
p {
   margin: 10px;
}
.content1 h1,
.content2 h1,
.content3 h1,
.content4 h1,
.content5 h1 {
   font-size: 40px;
}
.content1 p,
.content2 p,
.content3 p,
.content4 p,
.content5 p {
   font-size: 20px;
}
.content1 {
   display: flex;
   flex-flow: row nowrap;
   width: 900px;
   height: fit-content;
   color: white;
   background-color: #ffb03ab4;
}
.content2 {
   display: none;
   flex-flow: row nowrap;
   width: 900px;
   color: white;
   background-color: #ffb03ab4;
}
.content3 {
   display: none;
   flex-flow: row nowrap;
   width: 900px;
   height: 500px;
   color: white;
   background-color: #ffb03ab4;
}
.content4 {
   display: none;
   flex-flow: row nowrap;
   width: 900px;
   height: 500px;
   color: white;
   background-color: #ffb03ab4;
}
.content5 {
   display: none;
   flex-flow: row nowrap;
   width: 900px;
   height: 500px;
   color: white;
   background-color: #ffb03ab4;
}
/* SECTION DESIGN END */