* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../photos/background.jpg);
}
 
/* NAVIGATION BAR [ START ] */

   /* NAVBAR DESKTOP DESIGN [ START ] */
   .navbar {
      width: 100%;
      height: 60px;
      background-size: cover;
      background-image: url(../photos/silk.jpg);
      top: 0;
      z-index: 10;
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
      .logo_holder {
         width: 25%;
         left: 30px;
         position: absolute;
         display: flex;
         align-items: center;
         justify-content: space-between;
      }
         .nav_logo {
            width: 100%;
            opacity: 0.8;
            transition: all 0.2s;
            display: flex;
            align-items: center;
            justify-content: center;
         }
         .nav_logo:hover {
            opacity: 2;
            border-radius: 15px;
            transition: all 0.2s;
            background-color: transparent;
         }
            .nav_logo img {
               width: 90%;
            }
      .link_holder {
         width: 45%;
         height: inherit;
         top: 0;
         right: 20px;
         position: absolute;
         display: flex;
         align-items: center;
         justify-content: space-evenly;
      }
         .nav_links {
            width: auto;
            height: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
         }
            .nav_links a {
               width: 100%;
               height: 100%;
               padding: 0 10px;
               font-size: 15px;
               font-weight: 300;
               text-align: center;
               transition: all 0.2s;
               text-decoration: none;
               color: rgb(37, 37, 37);
               font-family: "Montserrat", sans-serif;
               display: flex;
               align-items: center;
               justify-content: center;
            }
               .nav_links a:hover {
                  font-weight: 400;
                  color: goldenrod;
                  transition: all 0.2s;
                  border-bottom: 2px solid teal;
               }
               .icon {
                  display: none;
               }
   /* NAVBAR DESKTOP DESIGN [ END ] */
               
   /* NAVBAR RESPONSIVE DESIGN [ START ]*/
   @media only screen and (max-width: 600px) {
      .navbar {
         width: 100%;
         height: 60px;
         background-color: white;
         top: 0;
         left: 0;
         z-index: 10;
         position: fixed;
         display: flex;
         align-items: center;
         justify-content: space-between;
      }
         .logo_holder {
            width: 70%;
            height: 100%;
            left: 5px;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
         }
            .nav_logo {
               width: 90%;
               height: 100%;
               opacity: 1;
            }
      .nav_logo img {
         width: 100%;
      }
      .icon {
         width: 15%;
         height: 80%;
         right: 15px;
         font-weight: 900;
         font-size: x-large;
         text-align: center;
         position: absolute;
         text-decoration: none;
         display: flex;
         justify-content: start;
         align-items: center;
      }
      .icon i {
         width: 100%;
         height: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
      }
   }
   @media screen and (max-width: 600px) {
      .navbar .link_holder:not(:first-child) {
         display: none;
         height: 0;
         transition: all 1s;
      }
      .navbar a.icon {
         float: right;
         display: block;
      }
   }
   @media screen and (max-width: 600px) {
      .navbar.responsive .link_holder {
         right: 0;
         top: 55px;
         width: 100%;
         height: 200px;
         display: flex;
         transition: all 1s;
         flex-direction: column;
         background-color: white;
         border-top: 1px solid gold;
      }
      .navbar.responsive .nav_links {
         height: 200px;
         width: 80%;
         display: flex;
      }
   }
   /* NAVBAR RESPONSIVE DESIGN [ END ]*/

/* NAVIGATION BAR [END] */

/* -------------------------------- */

section {
  top: 70px;
  width: 100%;
  margin-bottom: 70px;
  position: relative;
}
  .container {
    width: 100%;
    margin: 15px 0;
    padding: 15px 0 50px 0;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
  }
    form {
      width: 100%;
      height: inherit;

      gap: 30px;
      display: flex;
      align-items: center;
      justify-content: start;
      flex-direction: column;
    }
      label {
        border-bottom: 1px solid gray;
      }

      input, select {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        height: 40px;
        padding-left: 10px;
        color: black;
        border: 0 solid red;
        border-radius: 10px;
        background-color: rgb(214, 214, 214);
      }

.valid-input {
  border: none;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(214, 214, 214);
  cursor: pointer;
  font-size: 16px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="file"] {
  width: 100%;
  display: none;
}

input[type="radio"] {
  width: 20px;
}

.personal_tab,
.contact_tab {
  width: 50%;
  height: fit-content;
  background-color: white;
  border-radius: 15px;

  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;

  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: 'Montserrat', sans-serif;
}

#personal-info,
#contact-info {
  padding: 3px;
  grid-column: span 2;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

#name-title,
#address-title,
#contact-title {
  padding: 3px;
  grid-column: span 2;
  font-size: 16px;
  width: 50%;
  margin-top: 20px;
}

#address,
#email {
  grid-column: span 2;
}

.interest_tab {
  width: 50%;
  height: fit-content;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: 'Montserrat', sans-serif;

  gap: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.profession {
  width: 100%;
  margin-top: 10px;

  display: flex;
  justify-content: space-between;
}

#div1 {
  display: none;
}

.eligibility {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#eligibility-title {
  padding: 3px;
  width: 100%;
  margin-top: 20px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.yes,
.no {
  width: 80%;
  height: fit-content;
  display: flex;
}

.yes input,
.no input {
  width: 20px;
  margin: 0 15px 0 15px;
}

.yes label,
.no label {
  width: 100%;
  border: none;

  display: flex;
  align-items: center;
}

.reference {
  width: 100%;
}

.reference_content {
  width: 100%;
}



.upload_tab {
  width: 50%;
  height: fit-content;
  background-color: white;
  border-radius: 15px;

  display: flex;

  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: 'Montserrat', sans-serif;
}

.upload {
  width: 100%;

  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

#upload-info {
  padding: 3px;
  grid-column: span 2;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

#valid-title1 {
  grid-column: span 2;
}

.privacy_tab {
  width: 50%;
  height: fit-content;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: 'Montserrat', sans-serif;

  gap: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.terms {
  width: 100%;
  margin-top: 15px;
  height: fit-content;

  display: flex;
  align-items: center;
}

.terms input {
  width: 20px;
  margin: 0 15px 0 15px;
}

.terms label {
  height: 100%;
  border: none;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0;
  }
    label {
      border-bottom: 1px solid gray;
    }

    input, select {
      width: 100%;
      height: 30px;
      padding-left: 0;
      font-size: 12px;
      text-indent: 7px;
      border-radius: 5px;
    }
      #other_option {
        width: 65%;
      }
      input[type="file"] {
        width: 100%;
        display: none;
      }
      
      input[type="radio"] {
        width: 17px;
      }

    .personal_tab, .contact_tab, .interest_tab, .upload_tab, .privacy_tab {
      gap: 10px;
      width: 85%;
      padding: 10px;
      border-radius: 10px;
    }
    #personal-info, #contact-info, #upload-info {
      width: 100%;
      font-size: 17px;
    }

    #name-title, #address-title, #contact-title, #valid-title1 {
      margin-top: 0;
      font-size: 14px;
    }

    #div1 {
      margin-left: 10px;
      font-size: 12px;
      display: none;
    }

    .eligibility {
      width: 100%;
    
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
    #eligibility-title {
      margin-top: 0;
      font-size: 14px;
    }
    
    .yes, .no {
      width: 100%;
    }

    #valid-title {
      width: 100%;
      font-size: 14px;
    }

    #resume_label, #passport_label {
      font-size: 14px;
    }

     #credential_label, #reference_label {
      font-size: 12px;
    }

    .privacy_tab p {
      font-size: 13px;
    }
    .privacy_tab a {
      font-size: 15px;
    }

    .terms {
      margin-top: 0;
    }
    .terms input {
      width: 15px;
      margin: 0 10px 0 10px;
    }

    #validity_check {
      font-size: 15px;
    }
}