body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 300px;
}

/* NAVIGATION BAR -START- */
.navbar {
   width: 100%;
   height: 60px;
   background-size: cover;
   background-position-y: -100px;
   background-image: url(../photos/silk.jpg);
   
   top: 0;
   left: 0;
   z-index: 10;
   position: fixed;

   display: flex;
   align-items: center;
   justify-content: space-between;
}
   .logo_holder {
      width: 25%;
      left: 30px;
      position: absolute;

      display: flex;
      align-items: center;
      justify-content: space-between;
   }
      .nav_logo {
         width: 100%;
         opacity: 0.8;
         transition: all 0.2s;

         display: flex;
         align-items: center;
         justify-content: center;
      }
         .nav_logo img {
            width: 90%;
         }

         .nav_logo:hover {
            opacity: 2;
            border-radius: 15px;
            transition: all 0.2s;
            background-color: white;
         }

   .link_holder {
      width: 45%;
      height: inherit;

      top: 0;
      right: 20px;
      position: absolute;

      display: flex;
      align-items: center;
      justify-content: space-evenly;
   }
      .nav_links {
         width: auto;
         height: 70%;

         display: flex;
         align-items: center;
         justify-content: center;
      }
         .nav_links a {
            width: 100%;
            height: 100%;
            padding: 0 10px;
            font-size: medium;
            font-weight: 300;
            text-align: center;
            transition: all 0.2s;
            text-decoration: none;
            color: rgb(37, 37, 37);
            font-family: 'Montserrat', sans-serif;

            display: flex;
            align-items: center;
            justify-content: center;
         }
         .icon {
            display: none;
         }
         .nav_links a:hover {
            font-weight: 400;
            color: goldenrod;
            transition: all 0.2s;
            border-bottom: 2px solid teal;
         }

   /* NAVBAR RESPONSIVE DESIGN */
   @media only screen and (max-width: 600px) {
      .navbar {
         width: 100%;
         height: 55px;
         background-color: white;
         
         top: 0;
         left: 0;
         z-index: 10;
         position: fixed;
      
         display: flex;
         align-items: center;
         justify-content: space-between;
      }
         .logo_holder {
            width: 70%;
            height: 100%;
            left: 5px;
            position: absolute;
      
            display: flex;
            align-items: center;
            justify-content: center;
         }
            .nav_logo {
               width: 90%;
               height: 100%;
               opacity: 1;
            }
            .nav_logo img {
               width: 100%;
            }
         .icon {
            width: 15%;
            height: 80%;
            right: 15px;
            font-weight: 900;
            font-size: x-large;
            text-align: center;
            position: absolute;
            text-decoration: none;

            display: flex;
            justify-content: start;
            align-items: center;
         }
            .icon i {
               width: 100%;
               height: 100%;
               display: flex;
               align-items: center;
               justify-content: center;
            }
   }

   @media screen and (max-width: 600px) {
      .navbar .link_holder:not(:first-child) {
         display: none;
         height: 0;
         transition: all 1s;
      }
      .navbar a.icon {
      float: right;
      display: block;
      }
   }
   
   @media screen and (max-width: 600px) {
      .navbar.responsive .link_holder {
         right: 0;
         top: 55px;
         width: 100%;
         height: 200px;
         display: flex;
         transition: all 1s;
         flex-direction: column;
         background-color: white;
         border-top: 1px solid gold;
      }
      .navbar.responsive .nav_links {
         height: 200px;
         width: 80%;
         display: flex;
      }
   }

/* NAVIGATION BAR -END- */


main {
   width: 100%;
   height: 500px;
   background-color: black;
}


/* FOOTER BAR -START- */
footer {
   bottom: 0;
   clear: both;
   width: 100%;
   height: 200px;
   position: absolute;
   outline-offset: 3px;
   outline: 1px solid goldenrod;
   border-top: 2px solid rgb(48, 93, 98);
   background-size: cover;
   background-position-y: -100px;
   background-image: url(../photos/silk.jpg);
}
   .footer_container {
      width: 100%;
      height: 200px;

      gap: 0;
      display: flex;
      align-items: center;
      
   }
      .logo_container {
         width: 30%;
         height: 80%;

      }
         .logo_container a {
            width: 100%;
            margin-top: 15px;
            transition: 0.5s;

            display: flex;
            justify-content: center;
         }
            .logo_container a:hover {
               opacity: 0.7;
               transition: 0.5s;
            }
         .logo_container img {
            width: 90%;
         }
         .logo_container p {
            width: 100%;
            font-size: 12px;
            text-indent: 10px;
            color: rgb(48, 93, 98);
            font-family: "Montserrat", sans-serif;
         }

      .about_links {
         width: 15%;
         height: 75%;
         
         gap: 5px;
         display: flex;
         flex-direction: column;
         justify-content: center;
      }
         .about_title {
            margin: 0;
            padding: 5px 0;
            font-size: 18px;
            font-weight: 800;
            text-indent: 10px;
            color: rgb(201, 169, 43);
            font-family: Georgia, 'Times New Roman', Times, serif;
      
            display: flex;
            align-items: center;
         }
         .about_links_container{
            width: 100%;
            height: fit-content;
            
            gap: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
         }
            .company_links {
               font-size: 15px;
               text-indent: 10px;
               text-decoration: none;
               color: rgb(48, 93, 98);
               font-family: "Montserrat", sans-serif;
            }
            .company_links:hover {
               text-decoration: underline;
            }

      .socials {
         width: 20%;
         height: inherit;
         
         display: flex;
         align-items: center;
         justify-content: start;
      }
         .socials-container {
            width: 100%;
            padding: 10px 0 10px 0;

            display: flex;
            align-items: center;
            justify-content: space-evenly;
         }
            .socials-container a, button {
               padding: 5px;
               border: none;
               font-size: 25px;
               cursor: pointer;
               color: rgb(201, 169, 43);
               text-decoration: none;
               transition: 0.25s;
            }
            .email_button button {
               font-size: 25px;
               color: goldenrod;
               background-color: transparent;
            }
            #socialButton1:hover {
               color: blue;
               transition: 0.25s;
             }
             #socialButton2:hover {
               color: fuchsia;
               transition: 0.25s;
             }
             #socialButton3:hover {
               color: orange;
               transition: 0.25s;
             }
      .contact_info {
         width: 20%;
         height: 75%;

         display: flex;
         flex-direction: column;
         justify-content: space-around;
      }
         .contact_info h4 {
            margin: 0;
            font-size: 13px;
            font-weight: 800;
            color: rgb(201, 169, 43);
            font-family: Georgia, 'Times New Roman', Times, serif;
         }
         .contact_info p{
            margin: 0;
            font-size: 12px;
            font-weight: 400;
            color: rgb(48, 93, 98);
            font-family: "Montserrat", sans-serif;
         }
            .contact_info p:hover {
               text-decoration: underline;
            }

/* FOOTER BAR -END- */


/* FOOTER RESPONSIVE DESIGN */

      @media screen and (max-width: 600px) {
            footer {
               width: 100%;
               height: 245px;
               

           
               position: relative;
            
               display: flex;
               align-items: center;
            }
            .footer_container {
               width: 50%;
               
               padding-right: 15px;
               padding-left: 15px;
              
              
         
               position: absolute;
               display: flex;
               align-items: center;
               flex-direction: row;
               justify-content: space-between;
               
               

               
            }
            .logo_container {
             display: none;

      
            }
            .logo_container img {
               display: none;
            }
            .logo_container p {
               width: 100%;
               
               display: flex;
               position: absolute;
               bottom: 0px;
               text-align: center;
              
            }
            .about_links {
               width: 25%;
               height: 65%;
               
               
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               text-align: center;
            }
                  .about_title {
               
                  
                  
                     position: absolute;
                     
                     top: -5px;
                     gap: 50px;
                     padding-left: 30px;
                     padding-right: 50px;
                     justify-content: center;
                     text-align: justify;
                     display: flex;
                     align-items: center;
                     white-space: wrap;
                     
                     

                  }
                  .about_links_container {
                     width: 30%;
                     height: 65%;
                     
                     gap: 10px;
                     

                     position: absolute;
                     display: flex;
                     flex-direction: column;
                     justify-content: center;
                  
               }
                  .company_links {
                     font-size: 15px;
                     text-indent: 10px;
                     text-decoration: none;
                     color: rgb(48, 93, 98);
                     font-family: "Montserrat", sans-serif;

                     
                    
                  }
                  .socials {
                     width: 20%;
                     
                     
                     display: inline-block;
                     vertical-align: bottom;
                     align-items: center;
                     justify-content: center;
                     
                  }
                  .socials-container {
                     width: 100%;
                     padding: 5px 0 5px 0;
                     
                     position: absolute;
                     left: 50px;
                     bottom: -10px;
                     display: flex;
                     align-items: center;
                     justify-content: space-evenly;
                     }
                  .socials-container a, button {
                     font-size: 30px;
                     }
                  .contact_info {
                     width: 30%;
                     height: 65%;
                     
                     top: 5px;
                     gap: 10px;
                     display: flex;
                     flex-direction: column;
                     justify-content: center;
                  }
                  .contact_info h4 {
                      
                     font-size: 15px;
                     position: relative;
                        
                        
                        
                     }
                  .contact_info p{
                       
                     font-size: 13px;
                     position: relative;
                        
                     }
                       

      }   
/* FOOTER RESPONSIVE -END- */