* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	padding-bottom: 15px;
	background-size: cover;
	background-image: url("../photos/background.jpg");
}

.nav {
	border: 0;
	width: 100%;
	height: 60px;
	background-color: transparent;

	display: flex;
	align-items: center;
	justify-content: center;

}
	.nav_container {
		width: 100%;
		height: 100%;
		outline-offset: 3px;
		outline: 3px solid goldenrod;
		border-bottom: 2px solid teal;
		background-size: cover;
		background-image: url(../photos/silk.jpg);

		display: flex;
		justify-content: space-between;
	}
		#logo {
			opacity: 0.8;
			height: 60px;
			margin-left: 30px;
			transition: all 0.5s;

			display: flex;
			align-items: center;
			justify-content: center;
		}
			#logo:hover {
				opacity: 1;
				transition: all 0.5;
			}
			#logo-img {
				height: 90%;
				width: 90%;
			}

		.redirect {
			width: 300px;
			margin-right: 30px;

			display: flex;
			align-items: center;
			justify-content: space-evenly;
		}
			.redirect a {
				padding: 0 20px;
				color: teal;
				transition: all 0.5;
				text-decoration: none;
				font-family: "Montserrat", sans-serif;
			}	.redirect a:hover {
					color: goldenrod;
					transition: all 0.5;
				}
				.redirect a i {
					padding: 2px 8px 0 0;
				}

.container {
	width: 100%;
	height: 500px;
	background-size: cover;

	display: flex;
	align-items: center;
	justify-content: center;
}
   .login_container {
      width: 40%;
      height: 100%;

      gap: 30px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
   }
      .login_container h2 {
         width: 100%;
         padding: 10px 15px;
         border-radius: 10px;
         color: white;
         background-color: rgb(0, 0, 0, 0.8);
         font-family: 'Montserrat', sans-serif;

         display: flex;
         align-items: center;
         flex-direction: column;
         justify-content: center;
      }
      .form_proper {
         width: 100%;
         padding: 10px 0;
      }
         form {
            gap: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
         }
            #form-control {
               width: 60%;
               height: 40px;
               font-size: 18px;
               font-weight: 400;
               padding-left: 10px;
               color: black;
               border-radius: 10px;
               border: 1px solid teal;
               background-color: white;
               font-family: Georgia, 'Times New Roman', Times, serif
            }
         .actions {
            width: 60%;

            gap: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
         }
            .submit, .cancel {
               width: 100px;
               height: 40px;
               color: teal;
               font-size: 15px;
               font-weight: 500;
               border-radius: 10px;
               transition: all 0.5s;
               text-decoration: none;
               border: 1px solid goldenrod;
               font-family: "Montserrat", sans-serif;
               background-color: rgba(255, 255, 255);

               display: flex;
               align-items: center;
               justify-content: center;
            }
               .submit:hover {
                  color: gold;
                  transition: all 0.5s;
                  text-decoration: none;
                  border: 1px solid teal;
                  background-color: rgb(0, 0, 0, 0.8);
               }
               .cancel:hover {
                  color: gold;
                  transition: all 0.5s;
                  text-decoration: none;
                  border: 1px solid teal;
                  background-color: rgb(0, 0, 0, 0.8);

               }
