* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	padding-bottom: 15px;
	background-size: cover;
	background-image: url("../photos/background.jpg");

}
   .nav {
      border: 0;
      width: 100%;
      height: 60px;
      background-color: transparent;

      display: flex;
      align-items: center;
      justify-content: center;

   }
      .nav_container {
         width: 100%;
         height: 100%;
         outline-offset: 3px;
         outline: 3px solid goldenrod;
         border-bottom: 2px solid teal;
         background-size: cover;
         background-image: url(../photos/silk.jpg);

         display: flex;
         justify-content: space-between;
      }
         #logo {
            opacity: 0.8;
            height: 60px;
            margin-left: 30px;
            transition: all 0.5s;

            display: flex;
            align-items: center;
            justify-content: center;
         }
            #logo:hover {
               opacity: 1;
               transition: all 0.5;
            }
            #logo-img {
               height: 90%;
               width: 90%;
            }
         .redirect {
            width: 300px;
            margin-right: 30px;

            display: flex;
            align-items: center;
            justify-content: space-evenly;
         }
            .redirect a {
               padding: 0 20px;
               color: teal;
               transition: all 0.5;
               text-decoration: none;
               font-family: "Montserrat", sans-serif;
            }	
               .redirect a:hover {
                  color: goldenrod;
                  transition: all 0.5;
               }
               .redirect a i {
                  padding: 2px 8px 0 0;
               }

   .container {
      width: 50%;
      height: 500px;
      margin: 0 auto;
      border: 1px solid red;

      gap: 20px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
   }
      .directory {
         width: 90%;
         padding: 10px 15px;
         height: fit-content;
         border-radius: 10px;
         background-color: rgb(0, 0, 0, 0.7);

         gap: 10px;
         display: flex;
         align-items: center;
         flex-direction: column;
         justify-content: center;
      }
         .directory h2 {
            width: 100%;
            color: white;
            font-size: 25px;
            font-weight: 500;
            font-family: "Montserrat", sans-serif;

            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
         }
      .file_instances {
         width: 80%;
         padding: 10px 15px;
         height: fit-content;
         border: 1px solid red;
      }
         ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            gap: 10px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
         }
            li {
               width: 90%;
               padding: 10px 15px;
               height: fit-content;
               border-radius: 10px;
               transition: all 0.25s;
               border: 1px solid teal;
               background-color: rgb(0, 0, 0, 0.7);

               display: flex;
               align-items: center;
               justify-content: center;
            }
               li:hover {
                  outline-offset: 1px;
                  transition: all 0.25s;
                  outline: 1px solid teal;
                  border: 1px solid gold;
                  background-color: white;
               }
               li a {
                  width: 100%;
                  height: 100%;
                  color: white;
                  font-size: 18px;
                  font-weight: 500;
                  transition: all 0.25s;
                  text-decoration: none;
                  font-family: "Montserrat", sans-serif;

                  display: flex;
                  align-items: center;
                  justify-content: center;
               }
                  li a:hover {
                     color: teal;
                     font-weight: 600;
                     transition: all 0.25s;
                  }
                  
